<div class="row">
  <%= render partial: "layouts/search_genre", locals: { genres: @genres } %>
  <div class="col-md-7 offset-md-1">
    <h1 class="my-4 text-center">User 情報</h1>

    <div>
      <h3><%= @user.name %>
        <%= image_tag @user.get_profile_image %>
        <% if @user == current_user %>
          <%= link_to "プロフィール編集", edit_user_registration_path %>
        <% end %>
      </h3>
    </div>
    <%= render partial: "books/book", locals: { books: @books } %>
  </div>
</div>
