<h4>User 情報</h4>
<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image %>
  <% if @user == current_user %>
    <%= link_to "プロフィール編集", edit_user_registration_path %>
  <% end %>
</div>

<% @books.each do |book| %>
<div>
  <%= link_to book_path(book.id) do %>
    <%= image_tag book.get_image %>
  <% end %>
  <p>タイトル：<%= book.title %></p>
  <p>内容：<%= book.body%></p>
</div>
<% end %>