<div class="row">
  <div class="col-md-8 offset-md-2">
    <h1 class="my-4 text-center">ジャンル一覧</h1>
    <table>
      <tr>
        <th></th>
        <th></th>
      </tr>
      <% @genres.each do |genre| %>
        <tr>
          <th><%= genre.name %></th>
          <th><%= link_to '編集', edit_admin_genre_path(genre), class: "btn btn-success" %></th>
        </tr>
      <% end %>
      <tr>
        <th></th>
      </tr>
    </table>
    <%= link_to '新規投稿', new_admin_genre_path, class: "btn btn-success" %>
    <div>
      <%= link_to "戻る", :back %>  |
      <%= link_to "一覧", books_path %>
    </div>
  </div>
</div>
