<h1>BOOK 一覧</h1>
<% @books.each do |book| %>
  <div>
    <%= link_to book_path(book.id) do %>
      <%= image_tag book.get_image %>
    <% end %>
    <p>タイトル：<%= book.title %></p>
    <p>内容：<%= book.body %></p>
    <p>投稿者：<%= book.user.name %><%= image_tag 'no_user.jpg' %></p>
  </div>
<% end %>