<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="my-4 text-center">BOOK 詳細</h1>

      <%= image_tag @book.get_image %>
        <div>
          <p>タイトル：<%= @book.title %></p>
          <p>内容：<%= @book.body %></p>
          <p>投稿者：<%= @book.user.name %><%= image_tag @book.user.get_profile_image %></p>
          <p>投稿日：<%= @book.created_at.strftime('%Y/%m/%d') %></p>

          <% if @book.user == current_user %>
            <%= link_to "編集", edit_book_path(@book) %>  |
            <%= link_to "削除", book_path(@book), method: :delete %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>