<div class="row">
  <%= render partial: "genres/search_genre", locals: { genres: @genres } %>
  <div class="col-md-7 offset-md-1">
    <h1 class="my-4 text-center">全User 一覧</h1>
    <ul>
      <% @users.each do |user| %>
        <li>
          <%= user.name %> - <%= user.email %>
            <%= link_to user_path(user.id) do %>
              <%= image_tag user.get_profile_image %>
            <% end %>
          <%= link_to '削除', admin_user_path(user), method: :delete, data: { confirm: '本当に削除しますか？' } %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
