<div class="text-center">
  <br />
  <h1>新規登録</h1>
  <br />
</div>

<div class="border border-primary, mx-auto" style="width: 600px;">
  <%= form_with model: @user, url: user_registration_path do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <br />
  <h3>必要情報を入力してください</h3>
  <br />
  <div class="row">
    <div class="col-md">
      <div class="field">
        <%= f.label "名前" %><br />
        <%= f.text_field :name %>
      </div>

      <div class="field">
        <%= f.label "メールアドレス" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label "パスワード" %>
        <% if @minimum_password_length %>
       <em>(<%= @minimum_password_length %> 文字)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
 　    </div>

      <div class="field">
        <%= f.label "確認のため、もう一度ご入力ください" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <br />
      <div class="text-center">
        <div class="actions">
          <%= f.submit "登録" %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  ログインをするなら→<%= render "devise/shared/links" %>
</div>

